.container {
    display: block;
    width: 100%;
    background-color: whitesmoke;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 15px;
    border-width: 1px;
    padding: 10px;
    min-height: 100px;
    border-radius: 5px;
}

.myCheckbox{
    width: 15%;
    display: block;
    flex: 0 0 auto;
    min-width: 70px;

}

.btn{
    background-color: cornflowerblue;
    font-size: 200%;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

}




.clicked{
    background-color: slategrey;
    border-style: none;
    text-align: center;
   /*  text-decoration: line-through; */
    margin-top: 1rem;
    margin-bottom: 1rem;

    outline:none;
    box-shadow:none;
}

h3{
    text-align: justify;
    word-break: break-all;
}

.media{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: break-all;
}


.media-body{
    padding-right: 10px;
    width: 75%;
    display: block;
    flex: 1 0 auto; 
    word-break: break-all;
}

.Done {
    transition: transform 1s;
    text-decoration: line-through;
}

@media (max-width: 600px){
    
    .media{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        word-break: break-all;
    }

    .myCheckbox{
        width: 20%;
        display: block;
        flex: 0 0 auto;
        min-width: 50px;
    
    }

    .btn{
        font-size: 150%;
    }

    .media-body{
        
        width: 66%;
        display: block;
        flex: 1 0 auto; 
        word-break: break-all;
    }

}

@media (max-width: 769px){
    
    .myCheckbox{
        font-size: 0.8rem;
        width: 20%;
        display: block;
        flex: 0 0 auto;
        min-width: 70px;
    
    }

    .media-body{
        width: 73%;
        display: block;
        flex: 1 0 auto; 
        word-break: break-all;
    }

}

