.container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    background-color: whitesmoke;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 1200px;
    border-width: 1px;
    padding: 10px;
    min-height: 100px;
    border-radius: 5px;
}

.myCheckbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0;
    margin-right: 25px;
    flex-grow: 0;
    transform: scale(1.5);
}

.btn{
    background-color: cornflowerblue;
    border-style: none;
    font-size: 1.5rem;
    text-align: center;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline:none;
    box-shadow: none;
}

.btn:hover{
	box-shadow: 1px 1px 3px 2px salmon, -1px -1px 3px 2px salmon;
}


.clicked{
    background-color: slategrey;
    border-style: none;
    font-size: 1.5rem;
    text-align: center;
   /*  text-decoration: line-through; */
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    outline:none;
    box-shadow:none;
}


.media{
    
    padding: 10px;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word;
}


.media-body{
    flex: 0;
    max-width: 50rem;
    word-wrap: break-word;
}


@media (max-width: 1200px) 
{
  .media-body 
   {
    max-width: 30rem;
   }
}

@media (max-width: 800px) 
{
  .media-body 
   {
    max-width: 20rem;
   }
}


@media (max-width: 600px) 
{
  .media-body 
   {
    max-width: 10rem;
   }
}

.Done {
    transition: transform 1s;
    text-decoration: line-through;
}

