
<div class="container border boxShadow">

    <div class="myBar myTextShadow">
        <h2>
          Adicionar Tarefa
        </h2>
      </div>
    <form class="box" (ngSubmit)="addTodo()">
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" [(ngModel)]="title"  name="title" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="Titulo da tarefa">
          </div>
          <div class="form-group">
            <label for="desc">Descrição</label>
            <textarea [(ngModel)]="description" class="form-control"name="description" id="desc" cols="30" rows="5" placeholder="Descrição da tarefa"></textarea>
          </div>
          <div class="form-group mb-3">
              <label for="date">Data</label>
              <input [(ngModel)]="limit" type="date" name="date"class="form-control" id="date" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary btn-block myTextShadow boxShadow">Adicionar</button>
    </form>
</div>


